<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for TiS.Recognition.Common.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Release (Any CPU)&quot; configuration in project &quot;C:\Dev\eFlow 6\Recognition\Generic\TiS.Recognition.Common\TiS.Recognition.Common.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1706" Action="None" />
  </Rules>
</RuleSet>